<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCInfiniteScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>428ADD5E1CB63E9700DE6D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428ADD771CB63E9900DE6D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428ADD821CB63E9900DE6D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
